* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*clase Navegacion*/
.navegacion {
  display: flex;
  padding: 10px;
  font-size: 1.2rem;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}

.menu a:hover {
  color: red;
}

.header {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  height: 300px;
}

.ordenada {
  color: black;
}

.ordenada ol li:hover {
  color: red;
  cursor: pointer;
}

.nosotros {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 25px;
  height: 300px;
}

.pie_pagina {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 25px;
}

.pie_pagina a {
  text-decoration: none;
  color: black;
}

.pie_pagina a:hover {
  color: red;
}
